<div class="comment clearfix">
  <div class="comment_content">
    <p class="comment_name"><strong><%= comment.name %></strong></p>
    <p class="comment_body"><%= comment.content %></p>
    <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
  </div>

  <% if is_current_user_post(@post) %>
    <p>
      <%= link_to 'Destroy Comment', [comment.post, comment],
      :confirm => 'Are you sure?',
      :method => :delete,
      class: "button" %>
    </p>
  <% end %>
</div>
